<header class="main-header">
<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand"><b><i class="fa fa-cogs"></i> Smart Integration</b></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
          <li class="border-left"><a href="#"><i class="fa fa-spinner"></i> Cliente</a></li>
          <li><a routerLink="/car"><i class="fa fa-spinner"></i> Veiculo</a></li>
          <li><a href="#"><i class="fa fa-spinner"></i> Ordem de Serviço</a></li>
          <li><a href="#"><i class="fa fa-spinner"></i> Orçamento</a></li>
          <li><a href="#"><i class="fa fa-spinner"></i> Financeiro</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

   <div class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
          <li><a href="#"><i class="fa fa-sign-out"></i> Sair</a></li>
      </ul>
  </div>

  </div>
</nav>
</header>
