<form>
  <div class="row invoice-info">
    <br />
    <div class="col-xs-12">
      <p class="lead">Dados do cliente:</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-group" align="center">
        <label><i>Nome</i></label>
        <input type="text" class="form-control" placeholder="Nome">
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group has-success" align="center">
        <label><i>CPF</i></label>
        <input type="text" class="form-control" placeholder="CPF">
        <span class="help-block"><i class="fa fa-check"></i> Ok</span>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group has-error" align="center">
        <label><i>RG</i></label>
        <input type="text" class="form-control" placeholder="RG">
        <span class="help-block"><i class="fa fa-remove"></i> Help block with error</span>
      </div>
    </div>
    <div class="col-sm-2 col-xs-6">
      <div class="form-group" align="center">
        <label><i>Data de nascimento</i></label>
        <input type="text" class="form-control" placeholder="Data de nascimento">
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row invoice-info">
    <br />
    <div class="col-xs-12">
      <p class="lead">Endereço:</p>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group" align="center">
        <label><i>CEP</i></label>
        <input type="text" class="form-control" placeholder="CEP">
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="form-group" align="center">
        <label><i>Logradouro</i></label>
        <input type="text" class="form-control" placeholder="Logradouro">
      </div>
    </div>
    <div class="col-sm-2 col-xs-6">
      <div class="form-group" align="center">
        <label><i>Número</i></label>
        <input type="text" class="form-control" placeholder="Número">
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group" align="center">
        <label><i>Complemento</i></label>
        <input type="text" class="form-control" placeholder="Complemento">
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <div class="form-group" align="center">
        <label><i>Estado</i></label>
        <input type="text" class="form-control" placeholder="Estado">
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group" align="center">
        <label><i>Cidade</i></label>
        <input type="text" class="form-control" placeholder="Cidade">
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group" align="center">
        <label><i>Bairro</i></label>
        <input type="text" class="form-control" placeholder="Bairro">
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.ROW -->

  <div class="row invoice-info">
    <br />
    <div class="col-xs-12">
      <p class="lead">Contatos:</p>
    </div>
    <div class="col-sm-2 col-xs-12">
      <div class="form-group" align="center">
        <label><i>Telefone residencial</i></label>
        <input type="text" class="form-control" placeholder="Telefone Residencial">
      </div>
    </div>
    <div class="col-sm-2 col-xs-6">
      <div class="form-group" align="center">
        <label><i>Telefone comercial</i></label>
        <input type="text" class="form-control" placeholder="Telefone Comercial">
      </div>
    </div>
    <div class="col-sm-2 col-xs-6">
      <div class="form-group" align="center">
        <label><i>Celular</i></label>
        <input type="text" class="form-control" placeholder="Celular">
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group" align="center">
        <label><i>E-mail</i></label>
        <input type="text" class="form-control" placeholder="E-mail">
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group" align="center">
        <label><i>Site</i></label>
        <input type="text" class="form-control" placeholder="Site">
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</form>
